<h1>Post <%= @post.id %></h1>
<form action="/posts/<%= @post.id %>" method="post">
  <h3><%= @post.name %></h3>
  <label>Name: <input type="text" name="name" id="name" /></label>

  <p><%= @post.content %></p>
  <label>Content: <input type="textarea" name="content" id="content" /></label>
  <input type="submit" value="Update" id="submit" />
  <input id="hidden" type="hidden" name="_method" value="patch" />
  </form>
